/* SignUp.css */

.signup-container {
    
    margin: 20px;
    position: relative;
    top: 100px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="tel"],
  input[type="number"],select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 96%;
  }
  #state,#district,#taluk {
    width: 100%;
  }
  
  button[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  